@font-face {
  font-family: 'AvantGarde';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/AvantGarde/AvantGarde.woff2') format('woff2');
}

@font-face {
  font-family: 'AvantGarde';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/assets/fonts/AvantGarde/AvantGardeMedium.woff2') format('woff2');
}
