@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 1024px) {
  /* scrollbar */
  /* width */
  ::-webkit-scrollbar {
    width: 14px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-bg;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #888;
    border-radius: 10px;
    border: 3px solid #ece8e1;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
